.locationList {
    height: 85vh;
    overflow: auto;
}


@media (max-width: 767px){
    .locationList{
        height: 40vh;
    }
}


.forecast-title {
    color: #999;
    text-align: center;
    padding: 15px;
}