


.detail {
  background: red !important;
  height: 85vh;
  overflow: auto;
  padding-right: 5%;
  padding-left: 5%;
}

@media (max-width: 200px) {
  .datail {
    background: blue !important;
    height: 10vh !important;
  }
}